table{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

tr{
    display: flex;
}

td{
    border: solid 1px red;
    display: flex;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
}

.high-light{
    background-color: rgb(223, 255, 94);
}